.bg-light {
  background-color: #ececec !important;
}
.text-secondary {
  color: #493985 !important;
}
.nav-pills .nav-link {
  color: #ffffffb2;
}
.sidebar {
  margin-left: -17.5em !important;
  min-height: 100vh;
  width: 280px;

  transition: 0.3s;
}

.sidebar.aktif {
  left: 0px;
  margin-left: 0rem !important;
}

.konten {
  width: 100%;
}
.bg-gradient-orange {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 700px) {
  .sub_sidebar {
    display: none;
  }
  /* //DIBALIK  */
  .sidebar.aktif {
    z-index: 2;
    min-height: 100vh;
    margin-left: -17.5em !important;
    width: 280px;
    transition: 0.3s;
  }

  .sidebar {
    z-index: 2;
    position: absolute;
    margin-left: 0rem !important;
    width: 270px;
    transition: 0.3s;
  }
}
.bg-dark {
  background-color: #1d1d38 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background: #ff7a0d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f5af19,
    #ff7a0d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f5af19,
    #ff7a0d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-pills .nav-link:hover {
  background-color: #ffffff20;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px dotted #ffffff3c;
  opacity: 1;
}

.btn_darkside {
  color: #f5d000 !important;
  background-color: #00000000 !important;
  border: none !important;
}
.btn_darkside:hover {
  color: #f5d000 !important;
  border: none !important;
  background-color: #00000000 !important;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -67px;
  margin-top: var(--bs-dropdown-spacer);
  background-color: #ff881f;
  border: none;
}
.dropdown-item {
  color: white;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: white;
  background-color: rgb(255, 148, 54);
}
.dropdown-menu[data-bs-popper]:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgb(255 136 31) #ffffff00;
}

.btn-grwarning {
  color: white;
  background: #ff7a0d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f5af19,
    #ff7a0d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f5af19, #ff7a0d);
}
.btn-grdanger,
.bg-grdanger {
  color: white;
  background: #ff0d6a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ff3c87,
    #ff0d6a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff3c87, #ff0d6a);
}
.btn-grsuccess,
.bg-grsuccess {
  color: white;
  background: #17df49; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #53ff7e,
    #17df49
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #53ff7e, #17df49);
}

.btn-grwarning,
.bg-grwarning {
  color: white;
  background: #f78d14; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffba53,
    #f78d14
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffba53, #f78d14);
}

.col-sm-4 {
  padding: 6px !important;
}
.text-danger {
  color: rgb(255, 72, 0) !important;
}
.text-success {
  color: rgb(23, 223, 73) !important;
}
.text-primary {
  color: rgb(110, 23, 223) !important;
}

.bad-danger {
  background-color: #ff3c9750;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
